/* -- Base Font ------------------------------------------------------------- */
$font-family-base: var(--font-family-base);

/* -- Brand Font ------------------------------------------------------------- */
$font-family-brand: var(--font-family-brand);
$font-family-brand-weight: var(--font-family-brand-weight);

$font-family-brand-bold: var(--font-family-brand-bold);

$font-family-brand-semi-bold: var(--font-family-brand-semi-bold);
$font-family-brand-semi-bold-weight: var(--font-family-brand-semi-bold-weight);

/* -- Button Font ----------------------------------------------------------- */
$font-family-button: var(--font-family-button);

/* -- Decorative Font ------------------------------------------------------- */
$font-family-decorative: var(--font-family-decorative);