auto-install-peers=true
cache-lock-retries=10
cache-lock-stale=300000
cache-lock-wait=30000
cache=./.npm-cache
color=false
fetch-retry-maxtimeout=60000
include-workspace-root=true
progress=false
save-exact=false
use-node-version=22.1.0
