:root {
	--font-family-base: arial, helvetica, sans-serif;

	--font-family-brand: 'IntroAltRegular', sans-serif;
	--font-family-brand-weight: 400;

	--font-family-brand-bold: 'IntroAltRegularBold', sans-serif;

	--font-family-brand-semi-bold: 'IntroAltSemiBold', sans-serif;
	--font-family-brand-semi-bold-weight: 400;

	--font-family-button: arial, helvetica, sans-serif;

	--font-family-decorative: 'DearJoe', sans-serif;
}