:root.t-hsn {
	--font-family-base: 'Domaine Text', sans-serif;

	--font-family-brand: 'Domaine Display', sans-serif;
	--font-family-brand-bold: 'Domaine Display bold', sans-serif;
	--font-family-brand-bold-weight: 700;

	--font-family-button: 'Domaine Text Medium', sans-serif;
}